<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>red</string>
		<key>type</key>
		<string>rainbow</string>
		<key>origin</key>
		<string>fairy</string>
		<key>description</key>
		<string>One of the seven basic color wave in the rainbow. Red Wave is made from the soul and spirit of the warrior from the past who lead the other six warriors during their fight for freedom</string>
		<key>mass</key>
		<integer>10</integer>
		<key>speed</key>
		<integer>70</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>40</integer>
		<key>xLocation</key>
		<integer>0</integer>
		<key>yLocation</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>orange</string>
		<key>type</key>
		<string>rainbow</string>
		<key>origin</key>
		<string>fairy</string>
		<key>description</key>
		<string>One of the seven basic color wave in the rainbow. Orange Wave is made from the soul of a young warrior who is skilled in dagger mastery. The once young warrior is now embeeded into the marble.</string>
		<key>mass</key>
		<integer>10</integer>
		<key>speed</key>
		<integer>50</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>40</integer>
		<key>xLocation</key>
		<integer>50</integer>
		<key>yLocation</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>yellow</string>
		<key>type</key>
		<string>rainbow</string>
		<key>origin</key>
		<string>fairy</string>
		<key>description</key>
		<string>One of the seven basic color wave in the rainbow. Yellow Wave is made from the soul of a blade master who put offense over defense, bringing down the enemies before the enemies strike back.</string>
		<key>mass</key>
		<integer>10</integer>
		<key>speed</key>
		<integer>60</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>40</integer>
		<key>xLocation</key>
		<integer>100</integer>
		<key>yLocation</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>green</string>
		<key>type</key>
		<string>rainbow</string>
		<key>origin</key>
		<string>fairy</string>
		<key>description</key>
		<string>One of the seven basic color wave in the rainbow. Green Wave is made from the soul of archer who ventured from land to land seeking for the hidden bow close combat scroll. The soul now waiting patiently for the next archer coming.</string>
		<key>mass</key>
		<integer>10</integer>
		<key>speed</key>
		<integer>80</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>40</integer>
		<key>xLocation</key>
		<integer>150</integer>
		<key>yLocation</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>blue</string>
		<key>type</key>
		<string>rainbow</string>
		<key>origin</key>
		<string>fairy</string>
		<key>description</key>
		<string>One of the seven basic color wave in the rainbow. Blue Wave is made from the soul of pole master meditating deep in the mountain for 10 years. Fulfilling the request from his fellow disciples, Red Wave, he brought out his secret pole once more.</string>
		<key>mass</key>
		<integer>20</integer>
		<key>speed</key>
		<integer>70</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>40</integer>
		<key>xLocation</key>
		<integer>200</integer>
		<key>yLocation</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>pink</string>
		<key>type</key>
		<string>rainbow</string>
		<key>origin</key>
		<string>fairy</string>
		<key>description</key>
		<string>One of the seven basic color wave in the rainbow. The only female warrior who is skilled in martial art combat. She dances swiftly in the close combat and bewildering the enemies.</string>
		<key>mass</key>
		<integer>20</integer>
		<key>speed</key>
		<integer>70</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>40</integer>
		<key>xLocation</key>
		<integer>250</integer>
		<key>yLocation</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>purple</string>
		<key>type</key>
		<string>rainbow</string>
		<key>origin</key>
		<string>fairy</string>
		<key>description</key>
		<string>One of the seven basic color wave in the rainbow. Violet Wave is made from the soul of skilled strategist. Sharpening his skill from year to year by becoming strategist for several countries before assisting the new group of warriors.</string>
		<key>mass</key>
		<integer>20</integer>
		<key>speed</key>
		<integer>70</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>40</integer>
		<key>xLocation</key>
		<integer>300</integer>
		<key>yLocation</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>aries</string>
		<key>type</key>
		<string>zodiac</string>
		<key>origin</key>
		<string>fairy</string>
		<key>description</key>
		<string>A golden ram who rescued Phrixus and Helle from being killed. Aries is able to fly and swim like no others. After the rescue, the soul of Aries is brought by Nephele to the unknown land.</string>
		<key>mass</key>
		<integer>20</integer>
		<key>speed</key>
		<integer>70</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>40</integer>
		<key>xLocation</key>
		<integer>0</integer>
		<key>yLocation</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>taurus</string>
		<key>type</key>
		<string>zodiac</string>
		<key>origin</key>
		<string>fairy</string>
		<key>description</key>
		<string>A white bull who swore to protect Europa, summoned by Zeus. It submerges its body underwater and has been protecting Europa until the day Zeus calls him back for another quest.</string>
		<key>mass</key>
		<integer>20</integer>
		<key>speed</key>
		<integer>70</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>40</integer>
		<key>xLocation</key>
		<integer>50</integer>
		<key>yLocation</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>gemini</string>
		<key>type</key>
		<string>zodiac</string>
		<key>origin</key>
		<string>fairy</string>
		<key>description</key>
		<string>The twin brothers Castor and Pollux. Realizing the Castor will die one day, Pollux shares his immortalities with Castor and form Gemini.</string>
		<key>mass</key>
		<integer>20</integer>
		<key>speed</key>
		<integer>70</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>40</integer>
		<key>xLocation</key>
		<integer>100</integer>
		<key>yLocation</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>cancer</string>
		<key>type</key>
		<string>zodiac</string>
		<key>origin</key>
		<string>fairy</string>
		<key>description</key>
		<string>A crab who assisted Hydra during the fight with Heracles. After losing to Heracles, goddess Hera bring back Camcer by allowing it to venture in the land of dream.</string>
		<key>mass</key>
		<integer>20</integer>
		<key>speed</key>
		<integer>70</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>40</integer>
		<key>xLocation</key>
		<integer>150</integer>
		<key>yLocation</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>leo</string>
		<key>type</key>
		<string>zodiac</string>
		<key>origin</key>
		<string>fairy</string>
		<key>description</key>
		<string>A lion who resides in the land of sun. Despite having the strong nature and power, it is unable to win against Hercules during the 12 labors.</string>
		<key>mass</key>
		<integer>20</integer>
		<key>speed</key>
		<integer>70</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>40</integer>
		<key>xLocation</key>
		<integer>200</integer>
		<key>yLocation</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>virgo</string>
		<key>type</key>
		<string>zodiac</string>
		<key>origin</key>
		<string>fairy</string>
		<key>description</key>
		<string>The divine goddess and Great Mother of all the gods. She brings justice and law to the mankind through the scale of justice known as Libra. The law of mankind fades away slowly, causing her to stay away from the lawless world.</string>
		<key>mass</key>
		<integer>20</integer>
		<key>speed</key>
		<integer>70</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>40</integer>
		<key>xLocation</key>
		<integer>250</integer>
		<key>yLocation</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>libra</string>
		<key>type</key>
		<string>zodiac</string>
		<key>origin</key>
		<string>fairy</string>
		<key>description</key>
		<string>The only non-living element in Zodiac Set. Libra is weighing Life and Right in the balance.</string>
		<key>mass</key>
		<integer>20</integer>
		<key>speed</key>
		<integer>70</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>40</integer>
		<key>xLocation</key>
		<integer>300</integer>
		<key>yLocation</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>sagitarius</string>
		<key>type</key>
		<string>zodiac</string>
		<key>origin</key>
		<string>fairy</string>
		<key>description</key>
		<string>Sagittarius is a half-horse and half- human creature defending the holy land of Forstaria. After the sudden disappearance of its bow, he seeks for the weapon and finds himself united with the bow in another world.</string>
		<key>mass</key>
		<integer>20</integer>
		<key>speed</key>
		<integer>70</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>40</integer>
		<key>xLocation</key>
		<integer>350</integer>
		<key>yLocation</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>capricorn</string>
		<key>type</key>
		<string>zodiac</string>
		<key>origin</key>
		<string>fairy</string>
		<key>description</key>
		<string>Capricorn is extremely fast in the water. Granted with the lower-part fishlike body. Capricorn is able to manuver like a fish.</string>
		<key>mass</key>
		<integer>20</integer>
		<key>speed</key>
		<integer>70</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>40</integer>
		<key>xLocation</key>
		<integer>400</integer>
		<key>yLocation</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>aquarius</string>
		<key>type</key>
		<string>zodiac</string>
		<key>origin</key>
		<string>fairy</string>
		<key>description</key>
		<string>Aquarius is the pourer of the water during The Great Flood that flood the Earth. He is the youth in the disguise of eagle.</string>
		<key>mass</key>
		<integer>20</integer>
		<key>speed</key>
		<integer>70</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>40</integer>
		<key>xLocation</key>
		<integer>450</integer>
		<key>yLocation</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>pisces</string>
		<key>type</key>
		<string>zodiac</string>
		<key>origin</key>
		<string>fairy</string>
		<key>description</key>
		<string>Pisces represents the fish into which Aphrodite and her son Eros transformed in order to escape the monster Typhon.</string>
		<key>mass</key>
		<integer>20</integer>
		<key>speed</key>
		<integer>70</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>40</integer>
		<key>xLocation</key>
		<integer>0</integer>
		<key>yLocation</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>scorpio</string>
		<key>type</key>
		<string>zodiac</string>
		<key>origin</key>
		<string>fairy</string>
		<key>description</key>
		<string>Scorpio is the only animal who is able to kill Orion after how he boasts that he would kill all animals on the earth. Succeeding defended itself, Scorpion is crushed by Orion’s feet.</string>
		<key>mass</key>
		<integer>20</integer>
		<key>speed</key>
		<integer>70</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>40</integer>
		<key>xLocation</key>
		<integer>50</integer>
		<key>yLocation</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>fire</string>
		<key>type</key>
		<string>nature</string>
		<key>origin</key>
		<string>fairy</string>
		<key>description</key>
		<string>Through the flame and the heat. Bringing the live in the form light. Burning the soul of the death.</string>
		<key>mass</key>
		<integer>20</integer>
		<key>speed</key>
		<integer>70</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>40</integer>
		<key>xLocation</key>
		<integer>0</integer>
		<key>yLocation</key>
		<integer>150</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>water</string>
		<key>type</key>
		<string>nature</string>
		<key>origin</key>
		<string>fairy</string>
		<key>description</key>
		<string>Through the drop of water. Bringing the essence of life. Healing the soul of life.</string>
		<key>mass</key>
		<integer>20</integer>
		<key>speed</key>
		<integer>70</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>40</integer>
		<key>xLocation</key>
		<integer>50</integer>
		<key>yLocation</key>
		<integer>150</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>wind</string>
		<key>type</key>
		<string>nature</string>
		<key>origin</key>
		<string>fairy</string>
		<key>description</key>
		<string>Through the breeze and chill. Bringing the essence of speed. The wing and the power of invicible.</string>
		<key>mass</key>
		<integer>20</integer>
		<key>speed</key>
		<integer>70</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>40</integer>
		<key>xLocation</key>
		<integer>100</integer>
		<key>yLocation</key>
		<integer>150</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>earth</string>
		<key>type</key>
		<string>nature</string>
		<key>origin</key>
		<string>fairy</string>
		<key>description</key>
		<string>Through the soil and dirt. Bringing the path and the place to step. Enduring the harshness of nature.</string>
		<key>mass</key>
		<integer>20</integer>
		<key>speed</key>
		<integer>70</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>40</integer>
		<key>xLocation</key>
		<integer>150</integer>
		<key>yLocation</key>
		<integer>150</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>marble lock</string>
		<key>type</key>
		<string>none</string>
		<key>origin</key>
		<string>none</string>
		<key>description</key>
		<string>none</string>
		<key>mass</key>
		<integer>20</integer>
		<key>speed</key>
		<integer>70</integer>
		<key>height</key>
		<integer>40</integer>
		<key>width</key>
		<integer>40</integer>
		<key>xLocation</key>
		<integer>200</integer>
		<key>yLocation</key>
		<integer>150</integer>
	</dict>
</array>
</plist>
