<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>select screen</string>
		<key>height</key>
		<integer>320</integer>
		<key>width</key>
		<integer>480</integer>
		<key>xLocation</key>
		<integer>0</integer>
		<key>yLocation</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>level1 button up</string>
		<key>height</key>
		<integer>70</integer>
		<key>width</key>
		<integer>104</integer>
		<key>xLocation</key>
		<integer>11</integer>
		<key>yLocation</key>
		<integer>382</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>level1 button down</string>
		<key>height</key>
		<integer>70</integer>
		<key>width</key>
		<integer>104</integer>
		<key>xLocation</key>
		<integer>11</integer>
		<key>yLocation</key>
		<integer>382</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>level2 button up</string>
		<key>height</key>
		<integer>70</integer>
		<key>width</key>
		<integer>104</integer>
		<key>xLocation</key>
		<integer>123</integer>
		<key>yLocation</key>
		<integer>382</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>level2 button down</string>
		<key>height</key>
		<integer>70</integer>
		<key>width</key>
		<integer>104</integer>
		<key>xLocation</key>
		<integer>123</integer>
		<key>yLocation</key>
		<integer>382</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>level3 button up</string>
		<key>height</key>
		<integer>70</integer>
		<key>width</key>
		<integer>104</integer>
		<key>xLocation</key>
		<integer>238</integer>
		<key>yLocation</key>
		<integer>382</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>level3 button down</string>
		<key>height</key>
		<integer>70</integer>
		<key>width</key>
		<integer>104</integer>
		<key>xLocation</key>
		<integer>238</integer>
		<key>yLocation</key>
		<integer>382</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>level4 button up</string>
		<key>height</key>
		<integer>70</integer>
		<key>width</key>
		<integer>104</integer>
		<key>xLocation</key>
		<integer>351</integer>
		<key>yLocation</key>
		<integer>382</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>level4 button down</string>
		<key>height</key>
		<integer>70</integer>
		<key>width</key>
		<integer>104</integer>
		<key>xLocation</key>
		<integer>351</integer>
		<key>yLocation</key>
		<integer>382</integer>
	</dict>
</array>
</plist>
